<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="content-type" 
        content="text/html;charset=utf-8" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <link rel="stylesheet" type="text/css" href="/static-media/blue/style.css"/>
        <link rel="stylesheet" type="text/css" href="/static-media/main.css"/>
        <script type="text/javascript" src="/static-media/jquery-1.5.min.js"></script>
        <script type="text/javascript" src="/static-media/jquery.tablesorter.min.js"></script> 
        <script type="text/javascript" src="/static-media/jquery.metadata.js"></script> 
        <script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'066b3399-274d-4c41-8e63-56a025c71a6a'});</script>
        <script type="text/javascript" src="/static-media/grades.js"></script>
        <title> DTPS Students - {{ title }}</title>
        <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

         </head>

         <body>




             <div id="header">
                 <a href="/" class="logo"> dtps students</a>
                 <ul class="nav">
                     <li><a  href="/">Home</a></li>
                     <li><a href="/faq">FAQ</a></li>
                     <li><a href="http://dtps-students.tumblr.com">News</a></li>
                 </ul>
                 <!--
                 <ul style="margin-left: 35px" class="nav">
                     <li><a style="color:cyan" href="http://twitter.com/dtpsstudents">Twitter</a></li>
                     <li><a style="color:lightblue" href="https://www.facebook.com/pages/DTPS-Students/123325297751277">facebook</a></li>
                 </ul>
                 -->
                 <fieldset class="search">
                     <form action="student" name="grades" method="get">
                         <label>
                             AM
                         </label>
                         <input class="amsearch" type="text" name="id" /> 
                         <input class="amsubmit" type="submit" value="Go!" />
                     </form>
                 </fieldset>

             </div>
             <div id="main">
                 {% block results %} {% endblock %}

             </div>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-2765475-5']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();
         </script>



         </body>
     </html>
