{% extends "base.html" %}

{% block results %}

<h4>Τί είναι αυτό;</h4>
<p>Είναι μια εφαρμογή που συλλέγει τους βαθμούς των πρόσφατων εξεταστικών των φοιτητων των Ψηφιακών Συστημάτων απο την σελίδα http://students.unipi.gr και τα προσφέρει σε πιο ανθρώπινη μορφή </p>

<h4>Ποιός είσαι εσύ;</h4>
<p>Ονομάζομαι Κώστας Παπακωνσταντίνου, είμαι αιώνιος φοιτητής του ανωτέρου τμήματος, στο <a href="http://dtps.unipi.gr">DTPS</a> θα με βρεις ως BCK, γενικότερα στο internet θα με βρεις στις παρακάτω τοποθεσίες <a href="http://ihasb33r.tumblr.com">Blog</a> <a href="http://facebook.com/ihasb33r">Facebook</a> <a href="http://ihasb33r.deviantart.com">DeviantArt</a> <a href="http://bitbucket.org/ihasb33r/">BitBucket</a> <a href="http://twitter.com/ihasb33r">Twitter</a></p>

<h4>Με ποιο δικαίωμα δείχνεις τους βαθμούς στο internet;</h4>
<p>
1ον. ΟΥΣΤ<br />
2ον. Οι πληροφορίες που έχει το site είναι ελεύθερα διαθέσιμες στη σελίδα του πανεπιστημίου για όλο το κόσμο. Ακόμα και σε όσους δεν είναι φοιτητές του πανεπιστημίου. Γενικότερα, το σύστημα του πανεπιστημίου παρουσιάζει προβλήματα ακόμα και στα δεδομένα που υποτίθεται προστατεύει. Αλλά σε αυτά είναι ελεύθερη η προσβάση σε όλους. Όχι δεν έχω πρόσβαση στα ονόματα των φοιτητών, μόνο στους βαθμούς και στους Αριθμούς Μητρώου
</p>

<h4>Μέχρι πότε θα μπορώ να δω τους βαθμούς μου εδώ;</h4>
<p>η σκέψη είναι να κρατάω τις βαθμολογίες κάθε έτους, οπότε μόλις η σελίδα του πανεπιστημίου αλλάξει έτος και κάνει reset τους πίνακες βαθμολογιών, τότε θα βγάλω και τα αποτελέσματα απο εδώ για να μπουν τα καινούρια. Αυτό υποθέτω συμβαίνει κάθε Ιανουάριο αλλά ποιος ζει ποιος πεθαίνει μέχρι τότε</p>

<h4>Γιατί να χρησιμοποιήσω αυτό αντί για το επίσημο site</h4>
<p>Γιατι έτσι</p>

<h4>Τίποτα χρήσιμο δεν έχεις να κάνεις;</h4>
<p>Οχι</p>

<h4>Αν κάτι δε δουλεύει που μπορώ να απευθυνθώ;</h4>
<p>Στα γραφεία του ΚΚΕ, θα ζητήσεις τη βοήθεια του πρώτου ανθρώπου που δεις εκεί</p>
<p>Αφού έκανες το παραπάνω και θες ακόμα να δεις τους βαθμούς σου και όχι να την κόψεις μπορείς να μου στείλεις ενα email στο <b>bckdotgr@gmail.com</b> με την ελπίδα ότι δε θα το φάει το spam filter, ο κακός λύκος ή το μαράζι. Aν πουλάς Viagra δε θέλω πήρα. </p>

<h4>Με τι είναι φτιαγμένη η σελίδα;</h4>
<p>Με πολύ αγάπη και νεραΐδόσκονη.</p>
<p>Επίσης σε κανα 2-3 σημεία χρησιμοποιήσα Python, το WebApp της Google, regular expressions (φτου φτου 666) για το parsing της σελίδας του πανεπιστημίου και αρκετό καφέ</p>

<h4>Νομίζεις ότι είσαι αστείος;</h4>
<p>Όχι αλλα αυτό δε με σταματά</p>

{% endblock %}
